
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}
h1, h3 {
    text-decoration: underline;
    text-align: center;
    color: #333;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input, textarea {
    width: 30%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

button {
    width: 20;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

